name: docker-ci-pipiline
on: push
jobs:
  docker-ci-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6
      - name: image
        run: docker build -t kandikattusumanth/helloworld-demo-pytho:KS .
      - name: verify image
        run: docker images
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
         username: ${{ vars.DOCKER_USERNAME }}
         password: ${{ secrets. DOCKER_DEMO }}
      - name: push image
        run: docker push kandikattusumanth/helloworld-demo-pytho:KS 
